{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- content -->

<main>

    <div class="">

        <div class="error-titles">
            <h2>Ooops! (404 Error)</h2>
        </div>
        <div class="error-content">
            <h3>We can't seem to find the page you're looking for.</h3>
                <p><a href="{% url 'home'%}">Go back to the Homepage</a></p>
                <p><a href="{% url 'cbd_section'%}">Go back to the CBD Homepage</a></p>
        </div>

    </div>

</main>

{% endblock %}